<% if(typeof errs !='undefined') { %>
    <% errs.forEach(function(error){ %>
        <div class="err-msg">
            <p><i class="fa fa-circle-exclamation"></i> <%= error.message %></p>
        </div>
    <% }) %>
<% } %>

<% if(success_msg != ''){ %>
    <div class="success-msg">
        <p><i class="fa fa-circle-exclamation"></i> <%= success_msg %></p>
    </div>
<% } %>

<% if(error_msg != ''){ %>
    <div class="err-msg">
        <p><i class="fa fa-circle-exclamation"></i> <%= error_msg %></p>
    </div>
    
<% } %>

<% if(error != ''){ %>
    
    <div class="err-msg">
        <p><i class="fa fa-circle-exclamation"></i> <%= error %></p>
    </div>
<% } %>