<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="You can now be able to shop at the market for clothes and pay later using Marketgo. This platform gives you the merit of not loosing your valuables while shopping in a crowded market. Signup and enjoy using Marketgo.">
    <meta name="keywords" content="mpesa, market, mitumba, second hand, cloth, pay later, credit, shop">
    <title>Marketgo</title>
    <link rel="shortcut icon" href="./images/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/912e452282.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="auth-page">
        <%- include('partials/messages') %>
        <form action="/signup" method="POST">
            <h2>Sign up here</h2>
            <br>
            <div class="field">
                <label for="uemail">Email</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <input type="email" name="uemail" id="uemail" placeholder="e.g. johnjuma@gmail.com" style="font-weight: 500; font-size:16px;">
                <div id="check-email"></div>
            </div>
            <br>

            <div class="field">
                <label for="uname">Name</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <input type="text" name="uname" id="uname" placeholder="e.g. John Juma" style="font-weight: 500; font-size:16px;">
                
            </div>
            <br>

            <div class="field">
                <label for="userGender">Gender</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <select name="userGender" id="userGender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="none">Prefer not to say</option>
                </select>
            </div>
            <br>
            <div class="field">
                <label for="userType">Type of User</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <select name="userType" id="userType">
                    <option value="customer">Customer</option>
                    <option value="retailer">Trader</option>
                    <option value="rider">Rider</option>
                </select>
            </div>
            <br>

            <div class="field">
                <label for="uphone">Phone</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <input type="text" name="uphone" id="uphone" placeholder="e.g. 254715765934" style="font-weight: 500; font-size:16px;">
                <div id="check-number"></div>
            </div>
            <br>

            <div class="field">
                <label for="uaddr">Address</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <input type="text" name="uaddr" id="uaddr" placeholder="e.g. Road, Street, Building, Estate, City" style="font-weight: 500; font-size:16px;">
                
            </div>
            <br>

            <div class="field">
                <label for="upass">Password</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <input type="password" name="upass" id="upass">
                <div id="check-password"></div>
            </div>
            <br>

            <div class="field">
                <label for="cpass">Confirm Password</label>
                <br>
                <!--<p><i class="fa fa-circle-exclamation"></i> Key in the money you plan to use below.</p>-->
                <input type="password" name="cpass" id="cpass">
                <div id="confirm-password"></div>
            </div>
            <br>

            <button type="submit">Sign up</button>
        </form>
        
    </div>
    <br>
    <br>
<!--javaScript to check the inputs and validate input before submission-->
<script>

    //check password match
    const passInput=document.getElementById('upass')
    const passInputCheck=document.getElementById('cpass')
    const passMsg=document.getElementById('check-password')
    const confirmPassMsg=document.getElementById('confirm-password')

    //add event listeners
    passInput.addEventListener('input',()=>{
        if(passInput.value.length<8){
            passMsg.innerHTML='<p style="font-size:13px; color:rgb(219, 56, 56); font-weight: 600;"><i class="fa fa-circle-exclamation"></i> It looks like your passowrd is weak. It must be 8 or more characters.</p>';
        }else if(!specialCharactersCheck(passInput.value)){
            passMsg.innerHTML='<p style="font-size:13px; color:rgb(219, 56, 56); font-weight: 600;"><i class="fa fa-circle-exclamation"></i> Password is weak, it needs to more than 8 characters and must have * / . !, #, $, & % ` \'</p>';
        }else if(specialCharactersCheck(passInput.value)){
            passMsg.innerHTML='<p style="font-size:13px; color:rgb(40, 163, 116); font-weight: 600;"><i class="fa fa-circle-check"></i> Password is acceptable.</p>';
        }
    })
    //confirm password
     passInputCheck.addEventListener('input',()=>{
        if(passInputCheck.value !== passInput.value){
            confirmPassMsg.innerHTML='<p style="font-size:13px; color:rgb(219, 56, 56); font-weight: 600;"><i class="fa fa-circle-exclamation"></i> The password you entered does not match.</p>';
        }else if(passInputCheck.value === passInput.value){
            confirmPassMsg.innerHTML='<p style="font-size:13px; color:rgb(40, 163, 116); font-weight: 600;"><i class="fa fa-circle-check"></i> Passwords match.</p>';
        }
     })

     //change number format
     const numberInput=document.getElementById('uphone')
     const numberInputMsg=document.getElementById('check-number')
     //change format
     numberInput.addEventListener('input',()=>{
        if(!numberInput.value.startsWith('254')){
            numberInputMsg.innerHTML='<p style="font-size:13px; color:rgb(219, 56, 56); font-weight: 600;"><i class="fa fa-circle-exclamation"></i> Number needs to start with 254 e.g. 254715765934</p>';
            numberInput.value=modifyString(numberInput.value)
        }else if(numberInput.value.startsWith('254')){
            numberInputMsg.innerHTML='<p style="font-size:13px; color:rgb(40, 163, 116); font-weight: 600;"><i class="fa fa-circle-check"></i> Phone number is valid.</p>';
        }
     })

     //check valid email
     const emailInput=document.getElementById('uemail')
     const emailInputMsg=document.getElementById('check-email')
     //check email
     emailInput.addEventListener('input',()=>{
        if(!isValidEmail(emailInput.value)) emailInputMsg.innerHTML='<p style="font-size:13px; color:rgb(219, 56, 56); font-weight: 600;"><i class="fa fa-circle-exclamation"></i> Email is not correct.</p>';
        else emailInputMsg.innerHTML='<p style="font-size:13px; color:rgb(40, 163, 116); font-weight: 600;"><i class="fa fa-circle-check"></i> Email is acceptable.</p>';
     })

    //check for special characters
    function specialCharactersCheck(input) {
        const specialCharsRegex = /[*\/\\.!\#$&%`']/;
        return specialCharsRegex.test(input);
      }

    //reformat number
    function modifyString(input) {
        if (input.startsWith('254')) {
          return input; // No modification needed, already starts with '254'
        } else if (input.startsWith('01')) {
          return '2541' + input.slice(2); // Replace '01' with '2541'
        } else if (input.startsWith('07')) {
          return '2547' + input.slice(2); // Replace '07' with '2547'
        } else {
          return input; // Default case, no modification needed
        }
      }

      //valid email
      function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
      }
</script>
</body>
</html>